.places__paragraph {
  margin: 0;
  padding: 25px 16px 0;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  color: white;
}

.places__paragraph:first-of-type {
  padding: 0 16px 0;
}

@media screen and (min-width: 768px) {
  .places__paragraph {
    padding-top: 25px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 16px;
    font-size: 16px;
    line-height: 1.63;
  }

  .places__paragraph:first-of-type {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .places__paragraph {
    font-size: 18px;
    padding-top: 27px;
    padding-right: 48px;
    line-height: 1.63;
  }

  .places__paragraph:first-of-type {
    padding-right: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .places__paragraph {
    padding-right: 148px;
  }

  .places__paragraph:first-of-type {
    padding-right: 148px;
  }
}
