.photo-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  gap: 12px;
}

/*
this object has yet another class .main__photo-grid
it describes paddings
 */

@media screen and (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 16px;
  }
}
