.places__image {
  grid-area: image;
  margin: 0;
  padding: 0px 0 0;
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .places__image {
    /* 768+ */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .places__image {
    /* 1024+ */
    padding-left: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .places__image {
    /* 1280+ */
    padding-left: 148px;
  }
}
