.places__link {
  margin: 0;
  padding: 12px 0 0;
  display: block;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: white;
}

.places__link:hover {
  opacity: 80%;
}
