.places__list {
  /* list of grid containers  */
  margin: 0;
  padding: 0;
  padding-top: 14px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .places__list {
    /* list of grid containers  */
    padding-top: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .places__list {
    /* list of grid containers  */
    padding-top: 12px;
  }
}
