.footer__copyright {
  padding: 48px 16px 24px;
  margin: 0;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 0;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 24px;
    font-size: 14px;
    line-height: 1.14;
    display: inline;
  }
}

@media screen and (min-width: 1024px) {
  .footer__copyright {
    padding-right: 48px;
  }
}

@media screen and (min-width: 1280px) {
}
