.lead__image {
  width: 100%;
  margin: 0;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    width: 984px;
    margin-top: 64px;
  }
}
