.intro__text {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  text-align: left;
  color: white;
}

@media screen and (min-width: 768px) {
  .intro__text {
    padding-left: 24px;
    padding-right: 0;
    width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text {
    padding-left: 48px;
    width: 690px;
  }
}

@media screen and (min-width: 1280px) {
  .intro__text {
    padding-left: 148px;
  }
}
